{% extends 'main/base.html' %}

{% block title %}Top Casino Offers{% endblock %}

{% block content %}
{% load static %}
<!-- Start of US only code -->

<div class="pageheader">
<h1><strong>Top USA Casino Offers</strong></h1>
<p>Welcome to the most up-to-date online casino bonus list in the US. Casino promotions come and go quickly, so that’s why we keep a close eye on what’s going on at top-rated online casinos. Check back with us regularly before signing up at any legal gambling site, so you don't miss out on any of the new promos & casino bonus codes.</p>
</div>
<table>
<!-- DraftKings Casino -->
  <tr>
    <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fas fa-fire"></i><strong> Casino Betting Operator Of The Month </strong><i class="fas fa-fire"></i></div></div>
  </tr>
    <tr>
      <div class="w3-bar w3-border w3-green" style="max-width: 100%"><div class="w3-bar-item"><strong>DRAFTKINGS CASINO</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="https://sportsbook.draftkings.com/casino-embed" target="_blank">
          <img src="{% static "/images/Draftkings_casino.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="DraftKings Casino Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o" style="color:orange"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">$2,500 Deposit + $500 Bonus</p>
        <a href="https://casino.draftkings.com/" target="_blank><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">This bonus is 20% up to $500
</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 9px; text-align: center;">21+. New US players only. 20% deposit match up to $500 ($2,500 deposit required to cash in on whole deposit bonus). Legal in NJ, PA, IN, WV, NH, CO, IA, IL.</p>
  
  <hr>  

<!-- End DraftKings Casino -->

<!-- Party Casino -->
  <tr>
    <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fa fa-bolt" aria-hidden="true"></i><strong> New Casino Offer </strong><i class="fa fa-bolt" aria-hidden="true"></i></div></div>
  </tr>
  <tr>
      <div class="w3-bar w3-border w3-deep-purple" style="max-width: 100%"><div class="w3-bar-item"><strong>PARTY CASINO</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="https://apps.apple.com/US/app/id748303102?mt=8#." target="_blank">
          <img src="{% static "/images/party-casino-offer.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="Party Casino Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o" style="color:orange"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">$200 Deposit + $200 Bonus</p>
        <a href="https://apps.apple.com/US/app/id748303102?mt=8#." target="_blank"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">This bonus is 100% up to $200
</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 9px; text-align: center;">21+. New US players only. 100% deposit match up to $200 ($200 deposit required + 20X playthrough required on deposit+bonus).</p>
  
  <hr> 
<!-- End Party Casino -->

<!-- 888 Casino -->
<!-- Party Casino -->
  <tr>
      <div class="w3-bar w3-border w3-black" style="max-width: 100%"><div class="w3-bar-item"><strong>888 CASINO</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="#!">
          <img src="{% static "/images/888-casino-offers.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="888 Casino Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o" style="color:orange"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">$20 No-Deposit Bonus</p><p style="text-align:center; font-size:14px; font-weight:bold;">$417 Deposit + $500 Bonus</p>
        <a href="https://us.888casino.com/media/funfunfun/" target="_blank"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">This bonus is 120% up to $500
</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 9px; text-align: center;">21+. New US players only. 100% deposit match up to $500 (30X wagering requirement in free money).</p>
  
  <hr> 
<!-- End 888 Casino -->

<!-- End of US only code -->

</table>



{% endblock %}


    