{% extends 'main/base.html' %}

{% block title %}Best NFL Sportsbook Betting Sites{% endblock %}

{% block content %}
{% load static %}
<!-- Start of US only code -->

<div class="pageheader">
<h1><strong>Online Gambling USA</strong></h1>
<p>Welcome to NFLBetting.com US - the most comprehensive NFL Sportsbook betting guide for online gambling. We list the best gambling bonuses so you get more fun out of your money.</p>
</div>
<table>
  <tr>
    <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fa fa-bolt" aria-hidden="true"></i><strong> NFL Sportsbook Betting Operator Of The Month </strong><i class="fa fa-bolt" aria-hidden="true"></i></div></div>
  </tr>
  <tr>
    <div class="w3-bar w3-border w3-green" style="max-width: 100%"><div class="w3-bar-item"><strong>DRAFTKINGS SPORTSBOOK</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="https://www.betvictor.com/">
          <img src="{% static "/images/DraftKings_Sportsbook.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="DraftKings Sportsbook Offer" style="border-radius: 5%;"/>
        </a>
        <a href="/betvictor/" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">$500 Free Bet + $500 Deposit Bonus</p>
        <a href="https://www.sportsbook.draftkings.com/"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">Deposit Bonus Up to $500</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 9px; text-align: center;">21+. New US players only. Get up to $500 matching free bet and 20% deposit match up to $500 ($2500 deposit required to cash in on whole deposit bonus). Legal in NJ, PA, IN, WV, NH, CO, IA, IL.</p>
  <hr>

  <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fas fa-fire"></i><strong> Casino Betting Operator Of The Month </strong><i class="fas fa-fire"></i></div></div>
  <tr>
    <div class="w3-bar w3-border w3-green" style="max-width: 100%"><div class="w3-bar-item"><strong>DRAFTKINGS CASINO</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="#!">
          <img src="{% static "/images/william_hill.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="William Hill Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o" style="color:orange"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">BET £10 GET £30</p>
        <a href="https://casino.draftkings.com/"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">with a £10 deposit</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 7px; text-align: center;">18+, new UK players only, be GambleAware. New online customers only, min £10/€10 stake, win only, min odds 1/2., free bets paid as 2 x £15/€15, 30 day expiry, free bet/payment method/player/country restrictions apply.</p>
  
  <hr>  

<!-- End of US only code -->









<!-- Start of UK only code -->

  <tr>
    <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fa fa-bolt" aria-hidden="true"></i><strong> Sportsbook Betting Operator Of The Month </strong><i class="fa fa-bolt" aria-hidden="true"></i></div></div>
  </tr>
  <tr>
    <div class="w3-bar w3-border w3-blue-grey" style="max-width: 100%"><div class="w3-bar-item"><strong>BETVICTOR</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="https://www.betvictor.com/">
          <img src="{% static "/images/betvictor_offer.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="Betvictor Offer" style="border-radius: 5%;"/>
        </a>
        <a href="/betvictor/" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">BET £5 GET £40</p>
        <a href="https://www.betvictor.com/"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">with a £5 deposit</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 7px; text-align: center;">18+, new UK players only, be GambleAware. Promo code: 20FREE. New UK+IRE customers. Paypal and certain deposit types and bet types excluded. Min £5 bet within 14 days of account reg at min odds 1/2 = 4 x £5 free bets. Free bets valid for 4 days on sports, stake not returned, restrictions apply. 18+ begambleaware.com T&Cs apply.</p>
  
  <hr>
  <div class="w3-bar w3-border w3-pale-red" style="max-width: 100%"><div class="w3-bar-item"><i class="fas fa-fire"></i><strong> Casino Betting Operator Of The Month </strong><i class="fas fa-fire"></i></div></div>
  <tr>
    <div class="w3-bar w3-border w3-blue" style="max-width: 100%"><div class="w3-bar-item"><strong>WILLIAM HILL</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="#!">
          <img src="{% static "/images/william_hill.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="William Hill Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o" style="color:orange"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">BET £10 GET £30</p>
        <a href=""><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">with a £10 deposit</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 7px; text-align: center;">18+, new UK players only, be GambleAware. New online customers only, min £10/€10 stake, win only, min odds 1/2., free bets paid as 2 x £15/€15, 30 day expiry, free bet/payment method/player/country restrictions apply.</p>
  
  <hr>

  <tr>
    <div class="w3-bar w3-border w3-green" style="max-width: 100%"><div class="w3-bar-item"><strong>UNIBET</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="#!">
          <img src="{% static "/images/unibet.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="UNIBET Offer" style="border-radius: 5%;"/>
        </a>
        <a href="#!" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">£20 DEPOSIT + £40 BONUS</p>
        <a href=""><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">with a £10 deposit</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 7px; text-align: center;">18+, new UK players only, be GambleAware. New customers only. BeGambleAware.org. Minimum deposit £10. Place any sportsbook bet (except Racing) of £20+ at minimum odds of 1.40 (2/5) to receive your free bets and casino bonus. 35x wagering on casino bonus. Free bet will expire 7 days after opt in. £20 Casino bonus will expire after 30 days of opt-in.</p>
  
  <hr>

  <tr>
    <div class="w3-bar w3-border w3-red" style="max-width: 100%"><div class="w3-bar-item"><strong>BETFRED</strong></div></div>
  </tr>
  <tr>
      <div style="float:left; width: 50%; height:auto; background-color: #daddd6; margin-top:2px; text-align: center;">
        <p style="font-size:12px; text-align:center;">BOOKMAKER</p>
        <a href="#!">
          <img src="{% static "/images/betfred_offer.jpg" %}" style='height: 65%; width: 65%; object-fit:contain' alt="BETFRED Offer" style="border-radius: 5%;"/>
        </a>
        <a href="/betfred/" style="font-size:12px; display:block; text-align:center">See Review</a>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span> 
        <p style="font-size:9px; text-align:center;">T&Cs apply</p>
        </div><div style="float:right; width:50%; height:auto; text-align:center;">
        <p style="text-align:center; font-size:14px; color:green; font-weight:bold;">RECOMMENDED OFFER</p>
        <p style="text-align:center; font-size:14px; font-weight:bold; margin:auto; margin-bottom: 5px; width:90%;">STAKE £10, GET £30 IN FREE BETS + 30 FREE SPINS</p>
        <a href="#!"><button type="button" class="btn btn-success" style="width: 70%; height: 25%;"><strong>GET THIS BONUS</strong><p style="margin:auto; font-size: 10px">with a £10 deposit</p></button></a>
    </div>
  </tr>
  <div style="clear:both"></div>
  <p style="font-size: 7px; text-align: center;">18+, new UK players only, be GambleAware. New customers only. BeGambleAware.org. Minimum deposit £10. Place any sportsbook bet (except Racing) of £20+ at minimum odds of 1.40 (2/5) to receive your free bets and casino bonus. 35x wagering on casino bonus. Free bet will expire 7 days after opt in. £20 Casino bonus will expire after 30 days of opt-in.</p>
  
  <hr>

<!-- End of UK only code -->

</table>



{% endblock %}


    