{% extends 'main/page_base.html' %}

{% block title %}Top10USCasinos.com{% endblock %}

{% block content %}
{% load static %}

<div class="pageheader">
<h1 style="color:#7A4442; text-align:center;"><strong>Best Casino Providers for New York</strong></h1>
<p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in nibh urna.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<!-- Carousel Starts -->
<div id="demo" class="carousel slide" data-ride="carousel" style="padding-bottom: 5px;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
    <div class="carousel-item">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
    <div class="carousel-item">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Carousel Ends -->

<!-- Dropdown Starts -->
<!-- <div class="dropdown" style="padding-bottom:5px">
  <button data-display="static" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%; text-align:left; background-color: transparent; padding-bottom:5px; color:black;">
    Select Your Welcome Bonuses
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1st Deposit Bonus</a>
    <a class="dropdown-item" href="#">New Casinos</a>
    <a class="dropdown-item" href="#">No Desposit</a>
    <a class="dropdown-item" href="#">Best Value £10</a>
    <a class="dropdown-item" href="#">Best Value £20</a>
    <a class="dropdown-item" href="#">Best Value £50</a>
    <a class="dropdown-item" href="#">Free Spins</a>
  </div>
</div> -->
<!-- Dropdown Ends -->

<select class="div-toggle" data-target=".my-info-1" style="width:100%;">
  <option value="all_welcome_offers" data-show=".all_welcome_offers">All Welcome Offers</option>
  <option value="first_deposit_bonus" data-show=".first_deposit_bonus">1st Deposit Bonus</option>
  <option value="no_deposit" data-show=".no_deposit">No Desposit</option>
  <option value="best_value_10" data-show=".best_value_10">Best Value $10</option>
  <option value="free_spins" data-show=".free_spins">Free Spins</option>
</select>

<div class="my-info-1">
  <div class="all_welcome_offers"><h1>All Welcome Offers</h1>
    {% include "main/all_welcome_offers.html" %}
  </div>
  <div class="first_deposit_bonus hide"><h1>1st Deposit Bonus</h1>
    {% include "main/first_deposit_bonus.html" %}      
  </div>
  <div class="no_deposit hide"><h1>No Deposit Bonus</h1>
    {% include "main/no_deposit_bonus.html" %}
  </div>
  <div class="best_value_10 hide"><h1>Best Value $10</h1></div>
  <div class="free_spins hide"><h1>Free Spins</h1></div>
</div>


{% endblock %}