{% extends 'main/page_base.html' %}

{% block title %}Top10USCasinos.com{% endblock %}

{% block content %}
{% load static %}

<div class="pageheader">
<h2 style="color:#7A4442; text-align:center;"><strong>Best Casino Providers for New York</strong></h2>
<p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in nibh urna.
Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>

<!-- Carousel Starts -->
<div id="demo" class="carousel slide" data-ride="carousel" style="padding-bottom: 5px;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
    <div class="carousel-item">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
    <div class="carousel-item">
      <img src="{% static "images/jackpot_banner.jpeg" %}" alt="Los Angeles" style='width:100%; height:100%;'>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- Carousel Ends -->

<!-- Dropdown Starts -->
<div class="selectbox">
<select class="div-toggle" data-target=".my-info-1" style="width:95%;">
  <option value="all_welcome_offers" data-show=".all_welcome_offers">All Welcome Offers</option>
  <option value="first_deposit_bonus" data-show=".first_deposit_bonus">1st Deposit Bonus</option>
  <option value="no_deposit" data-show=".no_deposit">No Desposit</option>
  <option value="best_value_10" data-show=".best_value_10">Best Value $10</option>
  <option value="free_spins" data-show=".free_spins">Free Spins</option>
</select>
</div>
<!-- Dropdown Ends -->

<div class="my-info-1">
  <div class="all_welcome_offers"><p style="padding-left:15px; color: green; font-size: 16px;"><strong>11 bonuses found worth $3,434.35</strong></p>
    <table>
    {% include "main/all_welcome_offers.html" %}
    </table>
  </div>
  <div class="first_deposit_bonus hide"><p style="padding-left:15px; color: green; font-size: 16px;"><strong>8 bonuses found worth $1,634.28</strong></p>
    <table>
    {% include "main/first_deposit_bonus.html" %}
    </table>      
  </div>
  <div class="no_deposit hide"><h2>No Deposit Bonus</h2>
    <table>
    {% include "main/no_deposit_bonus.html" %}
    </table>
  </div>
  <div class="best_value_10 hide"><h2>Best Value $10</h2>
  <table>
    {% include "main/best_value_10.html" %}
    </table>
  </div>
  <div class="free_spins hide"><h2>Free Spins</h2>
    <table>
    {% include "main/free_spins.html" %}
    </table>
  </div>
</div>


{% endblock %}